:root {
    --primario: #1073BA;
    --secundario: #00DA55;
    --gris: #3B3B3B;
    --blanco: #FFFFFF;
    --negro: #1F1E1E;
    --grisClaro: #e1e1e1;

    --separacion: 5rem;

    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Lato', sans-serif;
    background-repeat: no-repeat;
}

/*html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: var(--grisClaro);
}
*, *:before, *:after {
    box-sizing: inherit;
}


body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
}*/

